.coffee-form{

    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    margin-top: 1em;

}
h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items:center;


}
label{
margin: 0.5em 1em;
width: 90%;
display: flex;
justify-content: space-between;
font-size: 2em;
align-items: center;
}
input{

    width: 66%;
    border-radius: 4px;
    border: 2px solid navy;
    font-size: 2em;


}