.coffee-list{

    background-color: burlywood;
    border-radius: 12px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.coffee-card{
    width: 300px;
    padding: 1em;
    background-color: rgb(95, 45, 5);
    color: burlywood;
    border-radius: calc(12 - 1em);
    margin: 1em;

}